.hero-section {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    background: url("./images/hero-bg-img.jpg");
    background-position: center;
    background-color: var(--charcoal);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    object-fit: contain;
    opacity: 0.9;
}

.hero-section h1 {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}

.hero-section p {
    font-size: 3rem;
    font-weight: bolder;
}

/* CARD Section */

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--charcoal);
    justify-content: space-between;
    align-items: center;
    padding: 3em;
   
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 5em;
   
}

.card {
    justify-self: center;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(235, 234, 234);
    box-shadow: 2px 2px 3px grey;
    border-radius: 5px;
}

.buy {
    border-top-left-radius: 5px;
    background-color: red;
    padding: 0.5em 1em;
    text-transform: uppercase;
    color: var(--white-2);
    font-weight: 900;
    letter-spacing: 1.1px;
    position: absolute;
    top: 0%;
    left: 0%;
   
}

.card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    block-size: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.house-data {
  width: 80%;
}

.house-data iframe {
  width: 15vw;
  height: 4vw;
  border: 0;
  margin-top: 1em;
}

.data-icons {
   width: 90%;
    border-top: 1px solid var(--prussian-blue);
    padding-top: 1em;
    padding-bottom: 1em;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.data-icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-icons img{
  width: 20px;
}

.numbers {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

.city {
    color: gray;
    font-size: 0.8rem;
}

.price {
    color: black;
    font-size: 1.3rem;
}

.amenities

.subtitle {
    color: var(--oxford-blue);
    font-weight: bolder;
}
/* PAGINATION */


.pagination {
    min-width: 25%;
    color: var(--oxford-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

#prev {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

#prev {
  opacity: 0.5;
  cursor: not-allowed;
}
.pagination a {
    padding: 0.5em 1em;
   flex: 1;
    border: 1px solid var(--prussian-blue);
    border-radius: 5px;
    color: var(--prussian-blue);
    font-weight: 900;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

.pagination .active {
    background-color: #007BFF;
    color: white;
}

#page-numbers {
  margin-top: 20px;
  font-size: 16px;
}
